body {
  margin: 0px;
  padding: 0px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.baloo-bhai {
  font-family: "Baloo Bhai";
}
.baloo-bhai2 {
  font-family: "Baloo Bhai 2";
}
